* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, rgba(11, 41, 30, 0.2), rgb(7, 12, 12, 0.7), rgba(11, 41, 30, 0.2));
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.first-button-container {
    position: relative;
}

.first-line,
.second-line,
.third-line,
.forth-line {
    position: absolute;
    height: 0px;
    width: 0px;
    transition: 0.2s linear 0.2s;
    opacity: 0;

}

.first-line {
    border-left: 3px solid rgb(1, 255, 166);
    border-top: 3px solid rgb(1, 255, 166);
    top: -3px;
    left: -3px;
}

.second-line {
    top: -3px;
    right: -3px;
    border-right: 3px solid rgb(1, 255, 166);
    border-top: 3px solid rgb(1, 255, 166);
}

.third-line {
    bottom: -3px;
    right: -3px;
    border-right: 3px solid rgb(1, 255, 166);
    border-bottom: 3px solid rgb(1, 255, 166);
}

.forth-line {
    bottom: -3px;
    left: -3px;
    border-left: 3px solid rgb(1, 255, 166);
    border-bottom: 3px solid rgb(1, 255, 166);
}

.first-button-container:hover .first-line,
.first-button-container:hover .second-line,
.first-button-container:hover .third-line,
.first-button-container:hover .forth-line {
    height: 15px;
    width: 15px;
    opacity: 1;
}

/* .first-button-container:hover .first-btn{
    box-shadow: 2px 2px 5px rgb(2, 193, 240), -2px -2px 5px rgb(157, 0, 255);
} */

.first-button-container .first-btn {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color: lightslategray;
    transition: 0.2s linear 0.2s;
    background: #000;
}

/* second button container */
.second-button-container {
    position: relative;
}

.second-button-container .second-btn {
    padding: 10px 20px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(11, 41, 30, 0.2);
    border: none;
    color: rgb(216, 255, 22);
    font-weight: 100;
}

.second-button-container .top-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: linear-gradient(to right, rgba(0, 249, 232, 0.9), rgba(15, 98, 107, 0.5), rgba(1, 1, 1, 0.3));
    box-shadow: 3px 0px 5px rgb(0, 221, 255), -0px -3px 5px rgb(7, 52, 59);
    transition: 0.5s linear 0.1s;
}

.second-button-container .bottom-line {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0%;
    background: linear-gradient(to right, rgba(0, 254, 182, 0.9), rgba(0, 225, 250, 0.5), rgba(10, 57, 77, 0.3));
    box-shadow: 3px 0px 5px rgb(0, 221, 255), -0px -3px 5px rgb(7, 52, 59);
    transition: 0.5s linear 0.1s;
}

.second-button-container:hover .top-line, 
.second-button-container:hover .bottom-line{
    width: 100%;
}

/* Third button container */
.third-button-container{
    position: relative;
}

.third-button-container .third-btn{
    padding: 10px 20px;
    letter-spacing: 1px;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    background: rgba(3, 7, 8, 0.2);
    font-weight: 600;
    border: none;
    color: rgb(22, 255, 205);
    font-weight: 100;
}

.third-button-container .animi-first-line,
.third-button-container .animi-second-line,
.third-button-container .animi-third-line,
.third-button-container .animi-forth-line{
    position: absolute;
}

.third-button-container .animi-first-line{
    top: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: linear-gradient(to left, rgba(4, 224, 4, 0.4), rgba(0, 255, 213, 0.4), rgb(0, 162, 255, 0.4));
    box-shadow: 0px 2px 5px rgb(42, 65, 69), -2px -2px 5px rgb(42, 65, 69);
    transition: 0.5s linear 0.1s;
}

.third-button-container:hover .animi-first-line{
    width: 100%;
}

.third-button-container .animi-second-line{
    width: 2px;
    height: 0%;
    top: 0;
    right: 0;
    background: linear-gradient(to left, rgba(4, 224, 4, 0.8), rgba(0, 255, 213, 0.8), rgb(0, 162, 255, 0.8));
    box-shadow: 0px 2px 5px rgb(42, 65, 69), 0px -2px 5px rgb(42, 65, 69);
    transition: 0.3s linear 0.6s;
}

.third-button-container:hover .animi-second-line{
    height: 100%;
}

.third-button-container .animi-third-line{
    height: 2px;
    width: 0%;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, rgba(0, 246, 234, 0.8), rgba(0, 187, 255, 0.8), rgba(0, 106, 255, 0.8));
    box-shadow: 0px 2px 5px rgb(6, 194, 204), 0px -2px 5px rgb(3, 255, 137);
    transition: 0.5s linear 0.9s;
}

.third-button-container:hover .animi-third-line{
    width: 100%;
}


.third-button-container .animi-forth-line{
    height: 0%;
    width: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0, 246, 234, 0.8), rgba(0, 187, 255, 0.8), rgba(0, 106, 255, 0.8));
    box-shadow: 0px 2px 5px rgb(6, 194, 204), 0px -2px 5px rgb(3, 255, 137);
    transition: 0.3s linear 1.4s;
}

.third-button-container:hover .animi-forth-line{
    height: 100%;
}